@model SchoolAPP.Models.Teacher

@{
    ViewBag.Title = "Show";
}

<a href="/Teacher/List" class="btn btn-primary btn-md">< return to search bar</a>
<a href="/Teacher/DeleteConfirm/@Model.Teacherid" class="btn btn-danger btn-md">- Delete</a>
<a href="#" class="btn btn-warning btn-md">+ Add New</a>

<h2>Show Teacher</h2>

<h3>Teacher name:</h3>
@Model.Teacherfname
@Model.Teacherlname
<br>
<h3>Teacher hire date:</h3>
@Model.Hiredate
<br>
<h3>Teacher salary per hour:</h3>
@Model.Salary
<br>
<h3>Teacher ID:</h3>
@Model.Teacherid





