@model SchoolAPP.Models.Class

@{
    ViewBag.Title = "Show";
}

<a href="/Class/List" class="btn btn-primary btn-md">return to search bar</a>

<h2>Show Class</h2>


<h3>Class ID:</h3>
@Model.Classid
<br>
<h3>Class name:</h3>
@Model.Classname
<br>
<h3>Class code:</h3>
@Model.Classcode
<br>
<h3>Class Teacher ID:</h3>
@Model.Teacherid
<br>
<h3>Class Start Date:</h3>
@Model.Startdate
<br>
<h3>Class Finish Date:</h3>
@Model.Finishdate
<br>







